/**{
    padding: 0px;
    margin: 0px;

}*/
#wrapper{
  width: 1000px;
  margin: 10px auto; /*邊界上右下左*/
  background: #f1f1f1; /*背景*/
  padding: 20px; /*留白*/
}
.chatwrapper{
  width: 70%;
  margin: 10px auto;
  background: #ffffff;
}
#chat{
    min-height: 300px; /*最小高度*/
    height: 500px;
    overflow: auto; /*自動增加捲軸*/
    border: 1px solid #b3b3b3; /*實線邊框*/
    padding: 10px;
}
.textarea{
    width: 96%;
    border: 1px solid #b3b3b3;
    padding: 10px;
    margin-top: 10px;
}
.single-message{
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #b3b3b3; /*邊框底線*/
}
.single-message span{
    float: right; /*讓時間浮動在右邊*/
}
